<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="container card-sh" style="margin-top: 70px">
<div class="row">
<div class="col-md-12 p-5">
<div class="cpl-md-6 text-end">
<img src="/img/product_img/laptop.jpg" width="330%" height="400px">
</div>
<div class ="col-md-6">
<h1>Laptop</h1>
<p>Description : </p>
<p style="color:grey;">Hp Laptop , 256Gb SSD</p>
<p>Product Details : HP Omen AI Powered AMD Ryzen 7 Octa Core 7840HS - (16 GB/1 TB SSD/Windows 11 Home/6 GB Graphics/NVIDIA GeForce RTX 4050) XD0007ax Gaming Laptop  (16.1 Inch, Shadow Black, 2.32 Kg)</p>
<p style="color:green;">Product in stock</p>
<p style="color:grey;">Category : Laptop</p>
<p style="color:grey;">30 Days Replacement & Return</p>
<h1>Price : Rs 74,000 20% off</h1>
<s>Rs 94,000</s>
</div>
</div>
</div>
</div>
</section>
</body>
</html>